#main{
   width:600px;
   margin: auto;
}
#main img{
	margin-top:40px;
}
#main a{
	margin-top:40px;
}
.tool-tip{
	position:absolute;
	z-index:999;
	height:40px;
	width:80px;
	background-color:black;
	border-radius:5px;
	color:white;
	text-align:center;
}